# PyInstaller
*.spec
build/
dist/

# Python
__pycache__/
*.py[cod]
*.pyo
/lang/__pycache__
/ui/__pycache__

# Cache applicatif
cache.json
settings.json

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
/build
/build/main
main.spec
/build/main
/build
/dist
main.spec
